---
import Layout from "@/layout/main.astro";

import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "keystatic.config";

const reader = createReader(process.cwd(), keystaticConfig);
const settings = await reader.singletons.settings.read();

if (settings && settings.error) {
  return Astro.redirect(settings.error, 302);
}
---

<Layout title="404 Not Found">
  <div class="container">
    <h1>404 Not Found</h1>
    <p>This page could not be found.</p>
  </div>
</Layout>
