---
import Layout from "@/layout/main.astro";

import { createReader } from "@keystatic/core/reader";
import keystaticConfig from "keystatic.config";

const reader = createReader(process.cwd(), keystaticConfig);
const settings = await reader.singletons.settings.read();

if (settings && settings.root) {
  return Astro.redirect(settings.root, 302);
}
---

<Layout title="Shortastic">
  <div class="container">
    <h1>Shortastic</h1>
    <p>Astro + Keystatic URL Shortener</p>
    <a href="https://github.com/xzit/shortastic" class="button">Get Started →</a
    >
  </div>
</Layout>
